body {
    /* background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('https://picsum.photos/1920/1080/?random'); */
        background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../img/bg2.jpg');

    /* background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }