html, body{
  height: 100%
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pending{
 background-color: #e4eb89
}

.completed{
  background-color: rgb(108, 248, 138);
}